<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Student ID</th>
              <th scope="col">Full Name</th>
              <th scope="col">Email</th>
              <th scope="col">Date of birth</th>
              <th scope="col">Subject</th>
              <th scope="col">GPS Location</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Sajeevan Parimlakanthan</td>
              <td>Sajeevn96@gmail.com</td>
              <td>20.03.1996</td>
              <td>Computer Science</td>
              <td>UK</td>
              <td>Approved</td>
              <td style="width:15%">
                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
              </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Sajeevan Parimlakanthan</td>
                <td>Sajeevn96@gmail.com</td>
                <td>20.03.1996</td>
                <td>Computer Science</td>
                <td>UK</td>
                <td>Pending</td>
                <td>
                  <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Sajeevan Parimlakanthan</td>
                <td>Sajeevn96@gmail.com</td>
                <td>20.03.1996</td>
                <td>Computer Science</td>
                <td>UK</td>
                <td>Pending</td>
                <td>
                  <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>